{% extends 'base.html' %}
{% block title %} Regresión cuadrática {% endblock %}
{% block content %}
<div id="app">
    {% if imagen %}
    <center>
        <br>
        <h2 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <strong>Resultados</strong>
        </h2>
        <br>
    </center>
    <h3>Datos generados</h3>
    <br>
    <div class="card my-3 w-100">
        <div class="row g-0">
          <div class="col-md-8">
            <img src="data:image/png;base64,{{imagen}}" class="img-fluid rounded-start" alt="grafica">
          </div>
          <div class="col-md-4">
            <div class="card-body">
                <center>
                    <br><br><br><br><br><br>
                    <h5 class="card-title"><strong>Gráfica de la Regresion Cuadratica</strong></h5>
                </center>
              <p class="card-text" align="justify">En el siguiente apartado se muestra una grafica realizada con el metodo de regresion cuadratica con una parte de los datos de las importaciones obtenidas </p>
            </div>
          </div>
        </div> 
    </div>
    {% else %}
    <center>
        <br>
        <h2 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><strong>Regresión Cuadratica</strong>
        </h2>
        <br><br>
    </center>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form action="/regresionCuadratica" method="post">
            <div class="mb-3">
                <input 
                    type="text" 
                    class="form-control"
                    placeholder="Nombre del eje X"
                    name="xlbl"
                    required
                    v-model = "xlbl"
                >
            </div>
            <div class="mb-3">
                <textarea 
                    name="x"  
                    rows="3"
                    class="form-control"
                    placeholder="Datos del eje X (solo numeros seperados por , )"
                    required
                    v-model = "x"
                ></textarea>
            </div>
            <div class="mb-3">
                <input 
                    type="text" 
                    class="form-control"
                    placeholder="Nombre del eje Y"
                    name="ylbl"
                    required
                    v-model = "ylbl"
                >
            </div>
            <div class="mb-3">
                <textarea 
                    name="y"  
                    rows="3"
                    class="form-control"
                    placeholder="Datos del eje Y (solo numeros seperados por , )"
                    required
                    v-model = "y"
                ></textarea>
            </div>
            <center>
                <button class="btn btn-info" style="width: 300px;" @click="llenarCampos()">Calcular en base al proyecto</button>
                <button type="submit" class="btn btn-success" style="width: 300px;">Calcular</button>
            </center>
        </form>
    {% endif %}
</div>
<script>
    const app = {
        data(){
            return{
                xlbl: null,
                x: null,
                ylbl: null,
                y: null
            }
        },
        methods:{
            llenarCampos() {
                this.xlbl = 'Meses-Ciudad';
                this.ylbl = 'Ventas';
                this.x = 'Enero-Mandaly,Enero-Naypyitaw,Enero-Yangon,Febrero-Mandalay,Febrero-Naypyitaw,Febrero-Yangon,Marzo-Mandalay,Marzo-Naypyitaw, Marzo-Yangon';
                this.y = ('37176.0585, 40434.6810, 38681.1285, 34424.2710, 32934.9825, 29860.1205, 34597.3425, 37199.0430, 37659.1215')
            }
        }
    }
    Vue.createApp(app).mount("#app")
</script>
{% endblock %}